<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <title>首页</title>
	<script src="../../static/js/jquery-3.2.1.min.js"></script>

</head>
<body>
    
    <!-- 网站头信息-->
    <div id="nav"></div>

    <!-- 网站主体 -->
    <div id="admin">
        <div class="admin_lt">
            <ul>
                <li class="admin_mod">
                    <span class="md"><a>资源管理</a><b>···</b></span>
                    <ul>
                        <li class="ml"><a>资源审核</a></li>
                        <li class="ml"><a>已发布资源</a></li>
                        <li class="ml"><a>未通过资源</a></li>
                    </ul>
                </li>
                <li class="admin_mod">
                    <span class="md"><a>评论管理</a><b>···</b></span>
                    <ul>
                        <li class="ml"><a>评论审核</a></li>
                        <li class="ml"><a>已审核评论</a></li>
                        <li class="ml"><a>未通过评论</a></li>
                    </ul>
                </li>
                <li class="admin_mod">
                    <span class="md"><a>积分管理</a><b>···</b></span>
                    <ul>
                        <li class="ml"><a>积分查询</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="admin_rt">
            <iframe src="source.html" scrolling="no"></iframe>
        </div>
    </div>
</body>

</html>