<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
	<script src="/static/js/jquery-3.2.1.min.js"></script>
    <title>用户注册</title>

</head>
<body>
    <!-- 网站主体 -->
    <div id="main">
        <!-- 上传表单-->
        <div class="upload reg2">

			<!-- 注册步骤导航-->
			<div class="reg_step">
				<a class="step1" href="./register.html">注册信息</a><a class="step1" href="./register2.html">基本信息</a><a class="step" href="./register3.html">注册完成</a>
			</div>
            <hr />

			<p style="text-align:center">
				<b>欢迎XXX注册成功、您是本系统第553位用户~</b><br/>
				<a href="./index.html">系统5s后会自动跳转到首页，如不能自动跳转，请点击跳转到首页</a>
			</p>
        </div>

    </div>

</body>

</html>
