{% extends "templates.html" %}
{% block title %}
    资源上传
{% endblock %}

{% block css_js %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
{% endblock %}
{% block main %}
    <!-- 网站主体 -->
    <div id="main">
        <!-- 上传表单-->
        <div class="upload">
            <p>上传资源</p>
            <hr/>
            <form action="resource/upload" id="source_form" method="post" enctype="multipart/form-data">
                <span>
                    <label>选择文件：</label>
                    <input class="upt" type="text" readonly="readonly"/>
                    <input class="upt" type="file" name="resource" value=""/>
                    <b>文件格式可以是txt、pdf、zip、rar等后缀</b>
                </span>
                <span>
                    <label>资源名称：</label>
                    <input class="upt" type="text" name="name" value=""/>
                </span>
                <span>
                    <label>资源类型：</label>
                    <select class="upt" name="resource_type">
                        <option>文本文件</option>
                        <option>电子文件</option>
                        <option>压缩文件</option>
                    </select>
                </span>
                <span>
                    <label>关键词：</label>
                    <input class="upt" type="text" name="resource_key" value="" onchange="check(this)"/>
                    <b>多个关键词用空格分割,关键词不能超过5个</b>
                </span>
                <span>
                    <label>资源分：</label>
                    <select class="upt" id="sel" name="resource_score">
                        <option selected="selected">0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </span>
                <span class="d_span">
                    <label>资源描述：</label>
                    <textarea class="area" name="resource_text"
                              placeholder="描述不支持HTML标签；详细的资源描述有机会获得我们的推荐，更有利于他人下载，赚取更多积分。如资源描述不清，有可能审核不通过。"></textarea>
                </span>
                <span>
                    <label class="agree">
                        <input type="checkbox" name=""  value="1"/>
                        <a href="#">同意爱下下资源上传协议</a>
                    </label>

                </span>

                <span><label class="btn"><input type="button" disabled id="but" value="提交"/></label></span>
            </form>
        </div>
        <!-- 公告 -->
        <div class="advice">
            <p class="title">上传须知</p>
            <hr/>
            <p><span>*</span>如涉及侵权内容,您的资源将被移除</p>
            <p><span>*</span>请勿上传小说、mp3、图片等与技术无关的内容.一旦发现将被删除</p>
            <p><span>*</span>请勿在未经授权的情况下上传任何涉及著作权侵权的资源，除非该资源完全由您个人创作</p>
            <p><span>*</span>点击上传资源即表示您确认该资源不违反资源分享的使用条款，并且您拥有该资源的所有版权或者上传资源的授权</p>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
        $(function () {

            $(".agree").children("input").change(function () {
                if ($(".agree").children("input")[0].checked) {
                    console.log(false);
                    $("#but").attr("disabled", false)
                } else {
                    console.log(true);
                    $("#but").attr("disabled", true)
                }
            });
            $("#but").click(function () {
                $("#source_form").submit()
            })
        })


    </script>
{% endblock %}